body{
    margin: 0;
    padding:0;
    background-color:rgb(29, 40, 102);
}

#wrap2
{
    display: block;
    width:100%;
    border-top:1px solid darkgrey;
    border-bottom:1px solid darkgrey;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    color: white;

}

#midlane
{
    display:block;
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
}

input[type=text]{
    width:5%;
    margin-left:5%;
    text-align: center;
    font-size: 16px;
    background-color:rgb(223, 226, 245);
    border:1px solid rgb(191, 198, 242);
}
input[type=submit]
{
    display: block;
    width:20%;
    margin-left:40%;
}