body{
    margin: 0;
    padding:0;
    background-color:rgb(29, 40, 102);
}

#wrap2
{
    display: block;
    width:100%;
    border-top:1px solid darkgrey;
    border-bottom:1px solid darkgrey;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    color: white;

}

#midlane
{
    display:block;
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
}

input[type=text]{
    width:8%;
    height: 30px;
    margin-left:1.56%;
    text-align: center;
    font-size: 16px;
    background-color:rgb(223, 226, 245);
    border:1px solid rgb(191, 198, 242);
}
input[type=submit]
{
    display: block;
    width:20%;
    margin-left:40%;
    margin-top:50px;


}

p {
    color:white;
}

#mauvaismot
{
    display:block;
    color:darkred;
    width:100%;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

@media all and (max-width:600px)
{
    body {
    }

    input[type=text]{
        width:90%;
        height: 50px;
        margin-left:5%;
        margin-right:0;
        margin-top:10px;
        text-align: center;
        font-size: 16px;
        background-color:rgb(223, 226, 245);
        border:1px solid rgb(191, 198, 242);
    }
    input[type=submit]
    {
        display: block;
        width:80%;
        margin-left:10%;
        margin-top:25px;
    }

}