# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\antho\Documents\Condorcet Informatique de Gestion\3 Informatique de gestion\Api3\escapegamerebus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
